{
  "openapi": "3.0.3",
  "info": {
    "title": "Foundry Private VNET App API",
    "version": "1.0.0",
    "description": "Backend API for the private Foundry + APIM + AI Search solution. Import into APIM to expose the UI-facing API."
  },
  "servers": [
    {
      "url": "https://apim-poc-my.azure-api.net/foundry-privatevnet-app",
      "description": "Derived from config/azure_resources.json: apim.gateway_url + apim.api_path"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Service health"
          }
        }
      }
    },
    "/api/prompts": {
      "get": {
        "operationId": "getPrompts",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt catalog"
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "operationId": "chat",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "use_case"],
                "properties": {
                  "prompt": { "type": "string" },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat completion"
          }
        }
      }
    },
    "/api/batch": {
      "post": {
        "operationId": "batch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompts", "use_case"],
                "properties": {
                  "prompts": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch response"
          }
        }
      }
    },
    "/api/feedback": {
      "get": {
        "operationId": "getFeedback",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "Feedback log" }
        }
      },
      "post": {
        "operationId": "submitFeedback",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["query", "document_id", "relevant", "use_case"],
                "properties": {
                  "query": { "type": "string" },
                  "document_id": { "type": "string" },
                  "relevant": { "type": "boolean" },
                  "score": { "type": "number" },
                  "notes": { "type": "string" },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Feedback accepted" }
        }
      }
    },
    "/api/documents": {
      "get": {
        "operationId": "listDocuments",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "Sample document list" }
        }
      }
    },
    "/api/test/search-health": {
      "get": {
        "operationId": "testSearchHealth",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "AI Search health check result" }
        }
      }
    },
    "/api/test/foundry-direct": {
      "post": {
        "operationId": "testFoundryDirect",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "use_case"],
                "properties": {
                  "prompt": { "type": "string" },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Foundry direct test result" }
        }
      }
    },
    "/api/test/apim": {
      "post": {
        "operationId": "testApim",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "use_case"],
                "properties": {
                  "prompt": { "type": "string" },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "APIM gateway test result" }
        }
      }
    },
    "/api/test/bot-service": {
      "post": {
        "operationId": "testBotService",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "use_case"],
                "properties": {
                  "prompt": { "type": "string" },
                  "use_case": { "type": "string", "enum": ["tax_pdf_forms", "eng_design_ppt"] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Bot service test result" }
        }
      }
    },
    "/api/test/agent-packages": {
      "get": {
        "operationId": "getAgentPackages",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "Agent package info" }
        }
      }
    },
    "/api/test/agent-packages/build": {
      "post": {
        "operationId": "buildAgentPackage",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "Agent package build result" }
        }
      }
    },
    "/api/test/agent-packages/download": {
      "get": {
        "operationId": "downloadAgentPackage",
        "parameters": [
          {
            "name": "use_case",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["tax_pdf_forms", "eng_design_ppt"]
            }
          }
        ],
        "responses": {
          "200": { "description": "Agent package zip download" }
        }
      }
    },
    "/api/config/azure-resources": {
      "get": {
        "operationId": "getAzureResourcesConfig",
        "responses": {
          "200": { "description": "Sanitised Azure resource config" }
        }
      }
    }
  }
}
