{
    "openapi":  "3.0.1",
    "info":  {
                 "title":  "Engineering Design PPT Agent",
                 "version":  "1.0.4",
                 "description":  "Chat with the Engineering Design PPT agent via Azure API Management and a private Azure AI Foundry deployment.",
                 "contact":  {
                                 "name":  "Foundry Private VNET APIM Gateway",
                                 "url":  "https://github.com/csdmichael/FoundryPrivateVNET-APIM-Gateway/blob/main/docs/support.md"
                             }
             },
    "x-security-controls":  {
                                "rateLimiting":  {
                                                     "strategy":  "Handled by Azure API Management policies and upstream gateway throttling.",
                                                     "ipBasedThrottling":  true,
                                                     "subscriptionOrUserRateLimits":  true,
                                                     "spikeArrest":  true,
                                                     "payloadSizeLimitKb":  64,
                                                     "accountRecoveryThresholds":  {
                                                                                       "maxAttempts":  5,
                                                                                       "windowSeconds":  300
                                                                                   }
                                                 },
                                "inputValidation":  {
                                                        "strategy":  "The API accepts a single prompt field and rejects malformed payloads through APIM policy and backend validation.",
                                                        "contentTypeEnforcement":  true,
                                                        "headerValidation":  true,
                                                        "schemaValidationAtGateway":  true,
                                                        "wafProtection":  true
                                                    },
                                "errorHandling":  {
                                                      "strategy":  "Errors are normalized by the gateway and backend response shaping before being returned to the Teams client.",
                                                      "genericExternalErrors":  true,
                                                      "secureLogStorage":  true,
                                                      "structuredLoggingToLogAnalytics":  true
                                                  }
                            },
    "servers":  [
                    {
                        "url":  "https://ai-gateway-apim-poc-my.azure-api.net/foundry-privatevnet-app"
                    }
                ],
    "paths":  {
                  "/chat":  {
                                "post":  {
                                             "operationId":  "chatWithAgent",
                                             "summary":  "Ask a question about engineering design presentations",
                                             "description":  "Submit a prompt to the Engineering Design PPT agent and return a grounded response from the configured private Foundry workflow.",
                                             "requestBody":  {
                                                                 "required":  true,
                                                                 "content":  {
                                                                                 "application/json":  {
                                                                                                          "schema":  {
                                                                                                                         "type":  "object",
                                                                                                                         "required":  [
                                                                                                                                          "prompt"
                                                                                                                                      ],
                                                                                                                         "properties":  {
                                                                                                                                            "prompt":  {
                                                                                                                                                           "type":  "string",
                                                                                                                                                           "description":  "Your question about engineering design presentations"
                                                                                                                                                       }
                                                                                                                                        }
                                                                                                                     }
                                                                                                      }
                                                                             }
                                                             },
                                             "responses":  {
                                                               "200":  {
                                                                           "description":  "Agent response",
                                                                           "content":  {
                                                                                           "application/json":  {
                                                                                                                    "schema":  {
                                                                                                                                   "type":  "object",
                                                                                                                                   "properties":  {
                                                                                                                                                      "response":  {
                                                                                                                                                                       "type":  "string",
                                                                                                                                                                       "description":  "The agent answer"
                                                                                                                                                                   },
                                                                                                                                                      "use_case":  {
                                                                                                                                                                       "type":  "string"
                                                                                                                                                                   }
                                                                                                                                                  }
                                                                                                                               }
                                                                                                                }
                                                                                       }
                                                                       }
                                                           }
                                         }
                            }
              }
}
