{
  "openapi": "3.0.3",
  "info": {
    "title": "Foundry Data Function API",
    "version": "1.0.0",
    "description": "Private Azure Function data APIs (product catalog, inventory, orders) consumed by an Azure AI Foundry agent through the private APIM AI gateway. The server URL is rewritten at runtime to the caller's host (function host directly, or the APIM gateway path).",
    "contact": {
      "name": "Foundry Private VNET APIM Gateway",
      "url": "https://learn.microsoft.com/azure/ai-foundry/agents/how-to/tools/openapi-spec"
    }
  },
  "x-security-controls": {
    "rateLimiting": {
      "description": "Enforced upstream by APIM rate-limit/quota policies on the private gateway.",
      "payloadSizeLimitKb": 256,
      "ipBasedThrottling": true,
      "spikeArrest": true,
      "subscriptionOrUserRateLimits": true,
      "accountRecoveryThresholds": {
        "maxAttempts": 5,
        "windowSeconds": 300
      }
    },
    "inputValidation": "Path/query parameters validated against this schema; unknown routes return 404.",
    "errorHandling": "Errors return a JSON body matching the Error schema; backend faults surface as APIM on-error responses."
  },
  "servers": [
    {
      "url": "https://ai-gateway-apim-poc-my.azure-api.net/data-function",
      "description": "Private APIM gateway path (config: apim.gateway_url + function_app.apim.api_path). Overridden at runtime by /api/openapi.json."
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Service liveness/readiness probe",
        "description": "Returns service status and a UTC timestamp. Used for health checks and APIM backend probes.",
        "tags": ["system"],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Health" }
              }
            }
          }
        }
      }
    },
    "/api/products": {
      "get": {
        "operationId": "listProducts",
        "summary": "List products, optionally filtered by category",
        "description": "Returns the product catalog. Provide the optional category query parameter to filter by category id.",
        "tags": ["catalog"],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter products by category id (see /api/categories).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Product" }
                }
              }
            }
          }
        }
      }
    },
    "/api/products/{productId}": {
      "get": {
        "operationId": "getProduct",
        "summary": "Get a single product by id",
        "description": "Returns one product by its productId, or 404 if no matching product exists.",
        "tags": ["catalog"],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Product identifier (e.g. P-1001).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "The product",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Product" }
              }
            }
          },
          "404": {
            "description": "Product not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/categories": {
      "get": {
        "operationId": "listCategories",
        "summary": "List product categories",
        "description": "Returns all product categories with a count of products in each.",
        "tags": ["catalog"],
        "responses": {
          "200": {
            "description": "All categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Category" }
                }
              }
            }
          }
        }
      }
    },
    "/api/inventory/{productId}": {
      "get": {
        "operationId": "getInventory",
        "summary": "Get current stock levels for a product across warehouses",
        "description": "Returns per-warehouse availability and total available stock for a productId, or 404 if not tracked.",
        "tags": ["inventory"],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Product identifier (e.g. P-1001).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory record",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Inventory" }
              }
            }
          },
          "404": {
            "description": "Inventory not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Error" }
              }
            }
          }
        }
      }
    },
    "/api/orders": {
      "get": {
        "operationId": "listOrders",
        "summary": "List orders, optionally filtered by status",
        "description": "Returns orders. Provide the optional status query parameter to filter by order status.",
        "tags": ["orders"],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by order status.",
            "schema": {
              "type": "string",
              "enum": ["pending", "shipped", "delivered", "cancelled"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Order" }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Health": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "healthy" },
          "service": { "type": "string", "example": "foundry-data-function-api" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productId": { "type": "string", "example": "P-1001" },
          "name": { "type": "string", "example": "Contoso Wireless Headset" },
          "category": { "type": "string", "example": "audio" },
          "price": { "type": "number", "format": "float", "example": 129.99 },
          "currency": { "type": "string", "example": "USD" },
          "description": { "type": "string" }
        }
      },
      "Category": {
        "type": "object",
        "properties": {
          "category": { "type": "string", "example": "audio" },
          "displayName": { "type": "string", "example": "Audio" },
          "productCount": { "type": "integer", "example": 3 }
        }
      },
      "Inventory": {
        "type": "object",
        "properties": {
          "productId": { "type": "string", "example": "P-1001" },
          "totalAvailable": { "type": "integer", "example": 540 },
          "warehouses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "warehouse": { "type": "string", "example": "EAST-DC1" },
                "available": { "type": "integer", "example": 320 }
              }
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "orderId": { "type": "string", "example": "O-5001" },
          "productId": { "type": "string", "example": "P-1001" },
          "quantity": { "type": "integer", "example": 4 },
          "status": { "type": "string", "example": "shipped" },
          "orderedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string", "example": "Product P-9999 not found" }
        }
      }
    }
  }
}
